.jumbotron {
  background-color: #F5093B;
  color: #FFFFFF;
  margin-top: 40px;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #DADADA;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}
.btn-reserva {
  background-color: #F5093B;
  color: #FFFFFF;
  width: 100%;
}
.tab-content {
  padding-top: 10px;
}
.footer-addres-icon {
  padding-right: 12px;
}
